@page
@model DispatchModel
@{ ViewData["Title"] = ""; }
<h1>@ViewData["Title"]</h1>

<div class="parallax-content contact-content" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="row">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="xCoordinates" type="text" class="form-control" id="name" placeholder="X coordinates" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="yCoordinates" type="text" class="form-control" id="name" placeholder="Y coordinates" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="time" type="text" class="form-control" id="name" placeholder="Chose time" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email" placeholder="Email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <form method="post">
                                            <button type="submit" id="form-submit" class="btn">Add Dispatch</button>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
