@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<body>

    <div class="fixed-side-navbar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#home"><span>Intro</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#services"><span>Services</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Portfolio</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#our-story"><span>Our Story</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Contact Us</span></a></li>
            </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>Smart Courier</h1>
                <span><em>Delivery</em> without worries</span>
                <div class="primary-button">
                    <a href="#services">Discover More</a>
                </div>
                @*<div class="primary-button">
            <a href="/Privacy">Login</a>
        </div>*@
                <div class="primary-button">
                    <a href="/Login">Login</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="left-text">
                        <h4>More About Smart Courier</h4>
                        <div class="line-dec"></div>
                        <p>
                            Smart Courier is a new approach to delivery process.
                        </p>
                        <ul>
                            <li>-  100% less time spend returning goods</li>
                            <li>-  100% no worries </li>
                            <li>-  100% no documents and forms writing</li>
                            <li>-  100% no data revealed to courier</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">Learn More About Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Classic Service - New Approach</h4>
                                <div class="line-dec"></div>
                                <p>Online ordered clothes is non - suitable often. We can help you! Measure them within the ordered time and avoid the hassle of returning.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Unique &amp; Fast delivery</h4>
                                <div class="line-dec"></div>
                                <p>You get all your clothes as soon as possible. Check goods online, follow the path of the shipment. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Effective Team Work</h4>
                                <div class="line-dec"></div>
                                <p>Our couriers are the best! You will get only the 5 starts delivery. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4> Guaranteed Quality</h4>
                                <div class="line-dec"></div>
                                <p>Delivery will be the quick, high quality. Data and delivered goods remains anonymous. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/1st-big-item.jpg" data-lightbox="image-1"><img src="img/1st-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (5 minutes for measuring)</h4>
                                    <span>2.00€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/2nd-big-item.jpg" data-lightbox="image-1"><img src="img/2nd-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (10 minutes for measuring)</h4>
                                    <span>3.00€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/3rd-big-item.jpg" data-lightbox="image-1"><img src="img/3rd-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (15 minutes for measuring)</h4>
                                    <span>4.50€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/4th-big-item.jpg" data-lightbox="image-1"><img src="img/4th-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (20 minutes for measuring)</h4>
                                    <span>5.50€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/5th-big-item.jpg" data-lightbox="image-1"><img src="img/5th-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (25 minutes for measuring)</h4>
                                    <span>6.50€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/6th-big-item.jpg" data-lightbox="image-1"><img src="img/6th-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (25 minutes for measuring)</h4>
                                    <span>7.00€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/2nd-big-item.jpg" data-lightbox="image-1"><img src="img/2nd-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (30 minutes for measuring)</h4>
                                    <span>8.00€</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="img/1st-big-item.jpg" data-lightbox="image-1"><img src="img/1st-item.jpg" alt=""></a>
                                <div class="text-content">
                                    <h4>Delivery (60 minutes for measuring)</h4>
                                    <span>15.00€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="img/1st-tab.jpg" alt="">
                                <p>Our company only starts with new aproach in the market</p>
                            </div>
                            <div id="tab2">
                                <img src="img/2nd-tab.jpg" alt="">
                                <p>Having 20 employees in the company is the big achievement for us.</p>
                            </div>
                            <div id="tab3">
                                <img src="img/3rd-tab.jpg" alt="">
                                <p>A great news! Getting bigger and bigger. Now we are not only in Vilnius, but also in Kaunas ir Klaipėda.</p>
                            </div>
                            <div id="tab4">
                                <img src="img/4th-tab.jpg" alt="">
                                <p>The best 2021 startup in Lithuania. </p>
                            </div>
                        </section>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">2008 - 2014</a></li>
                            <li><a href="#tab2">2014 - 2016</a></li>
                            <li><a href="#tab3">2016 - 2020</a></li>
                            <li><a href="#tab4">2021 - Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content contact-content" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.306291459608!2d25.218988215860996!3d54.739416080294546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd91a191940f6f%3A0x3731b280ce230d8c!2sPerk%C5%ABnkiemio%20g.%2018%2C%20Vilnius%2012121!5e0!3m2!1slt!2slt!4v1616005595399!5m2!1slt!2slt" width="100" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <p>
                        Copyright &copy; 2021 Smart Courier
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $(".fixed-side-navbar a, .primary-button a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>

</body>
