@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sveiki visi as Gytaute</h1>
    <H1> Mano puslapis <a href="https://docs.microsoft.com/aspnet/core"></a></H1>
</div>
