@page
@model SmartCourier.Pages.LoginModel
@{ ViewData["Title"] = "Login"; }

<body>
    <input type="text" name="UserName" placeholder="Enter your e-mail" />
    <input type="password" name="Password" placeholder="Enter your password" />
    <input type="submit" value="Login" class="submit" onclick="Labas()" />
    <input type="submit" value="Login" x:Name="LogIn" class="submit" onclick="Labas" />
    <input type="submit" value="Forgot Password" class="submit" onclick="PaswordReset()" />
</body>

