@page
@model PrivacyModel
@{ ViewData["Title"] = ""; }
<h1>@ViewData["Title"]</h1>

<body>
    <script language="C#" runat="server">
    void LogInButton(Object sender, EventArgs e)
        {
            System.Diagnostics.Debug.WriteLine("duombaze suveike");
        }</script>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="E-mail Address" required="">
                                        </fieldset>
                                        <fieldset>
                                            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <form method="post">
                                                <button type="submit" value="Login" class="submit" style="padding-top:15px; padding-bottom: 15px; width:520px">Submit</button>
                                            </form>
                                        </fieldset>
                                        <fieldset>
                                            <div class="primary-button">
                                                <a href="/ForgotPassword" class="btn" style="color:white; width:520px">Forgot Password</a>
                                            </div>
                                            @*<button href="/ForgotPassword" id="form-submit" class="btn" style="margin-top:10px">Forgot Password</button>*@
                                        </fieldset>
                                        <fieldset>
                                            <div class="primary-button">
                                                <a href="/Register" class="btn" style="color:white; width:520px">Register</a>
                                            </div>
                                            @*<button href="/Register" id="form-submit" class="btn" style="margin-top:10px">Register</button>*@
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
