@page
@model PrivacyModel
@{ ViewData["Title"] = ""; }
<h1>@ViewData["Title"]</h1>

<body>
    <script language="C#" runat="server">void LogInButton(Object sender, EventArgs e)
        {
            System.Diagnostics.Debug.WriteLine("duombaze suveike");
        }</script>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div class="row">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="E-mail Address" required="">
                                        </fieldset>
                                        <fieldset>
                                            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <form method="post">
                                            <button type="submit" value="Login" class="submit" @* JEIGU SITA ATKOMENTINI VEIKIA DIZAINAS, BET NE KODAS
                                                                                                   style="
    margin-bottom: 30px;
">
                                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KnJGdKGg1VAsHcz5wWdugbRTzqjZR3ZVVx_IRWVf1oJluHwWlcAUzxTdU-5-Xf5BIzhJaVlqJYPc-RCSXk12NV5EwpZTMO9RKi1kPwlGa8rBi3znTnFnal3dGCPhWCy-3z213iDAC6YWoTsm1d-Kok">
                                                <fieldset>
                                                </fieldset>*@
                                            </button>
                                        </form>
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="btn">Forgot Password</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
