@page
@model PrivacyModel
@{ ViewData["Title"] = "Login"; }
<h1>@ViewData["Title"]</h1>

<input type="text" name="UserName" placeholder="Enter your username" />
<input type="password" name="Password" placeholder="Enter your password" />
<input type="submit" value="Login" class="submit" onclick="LogInButton"/>