@page
@model SignOutModel
@{ ViewData["Title"] = ""; }
<h1>@ViewData["Title"]</h1>

<div class="parallax-content baner-content" id="home">
    <span>Do you really want to sign out?</span>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="row">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <form method="post">
                                            <button type="submit" name="searchData" id="form-submit" class="btn" style="padding-top:15px; padding-bottom: 15px;">Yes</button>
                                        </form>
                                        <button href="/Delivery" type="submit" name="searchData" id="form-submit" class="btn" style="padding-top:15px; padding-bottom: 15px; margin-top: 10px; margin-bottom: 10px;">No, return</button>
                                    </fieldset>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>


